<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

  <!-- beans 配置顺序 -->
  <!-- 配置数据源连接池 dataSource -->
  <!-- 配置事务 transactionManager -->
  <!-- 配置 AOP -->
  <!-- 配置DAO层，如MyBatis -->

  <!-- 系统主数据库 数据源 -->
  <bean id="dataSourceApp" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.mysql.driverClass}"/>
    <property name="url" value="${jdbc.main.url}"/>
    <property name="username" value="${jdbc.main.user}"/>
    <property name="password" value="${jdbc.main.password}"/>
    <property name="initialSize" value="10"/>
    <property name="maxActive" value="100"/>
    <property name="maxIdle" value="15"/>
    <property name="minIdle" value="8"/>
    <property name="logAbandoned" value="true"/>
    <property name="removeAbandoned" value="true"/>
    <property name="removeAbandonedTimeout" value="1000"/>
    <property name="maxWait" value="5000"/>
    <property name="testWhileIdle" value="true"/>
    <property name="testOnBorrow" value="false"/>
    <property name="testOnReturn" value="false"/>
    <property name="validationQuery" value="select 1 from dual"/>
    <property name="timeBetweenEvictionRunsMillis" value="30000"/>
    <property name="numTestsPerEvictionRun" value="30"/>
    <property name="minEvictableIdleTimeMillis" value="1800000"/>
  </bean>
  <!-- 各路对接数据库 数据源 -->
  <!-- mysql数据源 -->
  <bean id="dataSourceMysql" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass" value="${jdbc.mysql.driverClass}"/>
    <property name="jdbcUrl" value="${jdbc.mysql.url}"/>
    <property name="user" value="${jdbc.mysql.user}"/>
    <property name="password" value="${jdbc.mysql.password}"/>
    <!-- 连接池中保留的最小连接数，默认为：3-->
    <property name="minPoolSize" value="${cPool.minPoolSize}"/>
    <!-- 连接池中保留的最大连接数。默认值: 15 -->
    <property name="maxPoolSize" value="${cPool.maxPoolSize}"/>
    <!-- 初始化连接池中的连接数，取值应在minPoolSize与maxPoolSize之间，默认为3-->
    <property name="initialPoolSize" value="${cPool.initialPoolSize}"/>
    <!-- 最大空闲时间，60秒内未使用则连接被丢弃。若为0则永不丢弃。默认值: 0 -->
    <property name="maxIdleTime" value="${cPool.maxIdleTime}"/>
    <!-- 当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。默认值: 3 -->
    <property name="acquireIncrement" value="${cPool.acquireIncrement}"/>
    <!-- 当连接池连接耗尽时，客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException，如设为0则无限期等待。单位毫秒。默认: 0 -->
    <property name="checkoutTimeout" value="${cPool.checkoutTimeout}"/>
  </bean>
  <!-- SQLServer数据源 -->
  <bean id="dataSourceSQLServer" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
        p:driverClass="${jdbc.SQLServer.driverClass}"
        p:jdbcUrl="${jdbc.mysql.url}"
        p:user="${jdbc.mysql.user}"
        p:password="${jdbc.mysql.password}"
        p:minPoolSize="${cPool.minPoolSize}"
        p:maxPoolSize="${cPool.maxPoolSize}"
        p:initialPoolSize="${cPool.initialPoolSize}"
        p:maxIdleTime="${cPool.maxIdleTime}"
        p:acquireIncrement="${cPool.acquireIncrement}"
        p:checkoutTimeout="${cPool.checkoutTimeout}"/>

  <bean id="dynamicDataSource" class="dl.dao.DynamicDataSource">
    <!-- 通过key-value的形式来关联数据源 -->
    <property name="targetDataSources">
      <map>
        <entry value-ref="dataSourceMysql" key="${jdbc.datasource.mysql.key}"/>
        <entry value-ref="dataSourceSQLServer" key="${jdbc.datasource.SQLServer.key}"/>
        <!-- <entry value-ref=".." key=".."></entry> -->
      </map>
    </property>
    <property name="defaultTargetDataSource" ref="dataSourceApp"/>
  </bean>
</beans>