<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.1.xsd ">

  <!-- 系统信息 -->
  <context:property-placeholder location="classpath:si.properties" ignore-unresolvable="true"/>
  <!-- 数据库信息 -->
  <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>
  <!-- 数据源 连接池 事务 AOP 等配置 -->
  <import resource="classpath:spring/applicationContext-DB.xml"/>

  <!-- 配置定时任务 -->
  <!--<task:annotation-driven/>-->

</beans>